<!DOCTYPE html>
<html lang="ko" ng-app='swankyChat' class="ng-scope">

<head>
      <meta charset="UTF-8">
      <link rel="apple-touch-icon" type="image/png"
            href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
      <meta name="apple-mobile-web-app-title" content="CodePen">
      <link rel="shortcut icon" type="image/x-icon"
            href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
      <link rel="mask-icon" type="image/x-icon"
            href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
            color="#111">
      <title>Moviin</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/style.css">

</head>

<body>
      <main class="page__main">
            <div class="block--background">
              <div class="chatbot__overview">
                <ul class="chatlist">
                  <li class="bot__output bot__output--standard">Hey, I'm Navvy!</li>
                  <li class="bot__output bot__output--standard">I will guide you through Mees' portfolio!</li>
                  <li class="bot__output bot__output--standard">
                    <span class="bot__output--second-sentence">You can ask me a bunch of things!</span>
                    <ul>
                      <li class="input__nested-list">Something <span class="bot__command">about</span> Mees</li>
                      <li class="input__nested-list">Mees' <span class="bot__command">best work</span></li>
                      <li class="input__nested-list">Maybe I could <span class="bot__command">help</span> (for more instructions)</li>
                      <li class="input__nested-list">Type <span class="bot__command">commands</span> for a list of every command</li>
                    </ul>
                    You could also scroll down to see Mees' full portfolio
                  </li>
                </ul>
              </div>
              <div class="chatbox-area">
                <form action="" id="chatform">
                    <textarea placeholder="Talk to me!" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
                    <input class="submit-button" type="submit" value="send">
                </form>
              </div>
                              <div class="block--background"></div>
        
        </main>

      <script src="/static/script.js"></script>


</body>

</html>